.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@media (orientation: portrait) {
  .hide-on-mobile {
    display: none; 
  }
}


.wavepicker {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  align-items: baseline;
  width: 360px;
}

.wave-container {
  display: flex;
  justify-content: center;
}

.wavebox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}

.wavebox-selected {
  border: 2px solid blueviolet;
}

.wave {
  width: 24px;
  height: 24px;
}

.volume-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  align-items: baseline;
  width: 360px;
}

.volume-title {
  margin: 2px;
}

.volume-input {
  margin: 2px; 
}

.adsr-controls {
  width: 360px;
  border: 2px solid black;
}

.adsr-header {
  margin: 0px;
}

.adsr-slider {
  display: block;
}

.adsr-param {
  margin: 0px;
  width: 60px;
}

.keymap {
  width: 500px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 8px;
}

#momiji {
  width: 200px; 
}

.momiji-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 360px;
}

#notes-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 360px;
  min-height: 200px;
}

.notes {
  width: 50px;
  height: 25%;
  min-height: 250px;
  position: absolute;
  z-index: -1;

  left: 25%;
  bottom: 40%;

}

.note {
  position: absolute;
  height: 20%;
  min-height: 25px;
  width: 20%;
  min-width: 25px;
  background-color: slateblue;

  opacity: 0;
  animation: floating-note 5s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  
  mask-repeat: no-repeat;
  mask-position: bottom;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 366.313 366.313' style='enable-background:new 0 0 366.313 366.313;' xml:space='preserve'%3E%3Cpath id='XMLID_526_' d='M113.156,61.11v188.63c-6.257-2.212-12.985-3.428-20-3.428c-33.137,0-60,26.863-60,60s26.863,60,60,60 s60-26.863,60-60v-174.8l140-40V199.74c-6.257-2.212-12.985-3.428-20-3.428c-33.137,0-60,26.863-60,60s26.863,60,60,60 s60-26.863,60-60V0L113.156,61.11z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 366.313 366.313' style='enable-background:new 0 0 366.313 366.313;' xml:space='preserve'%3E%3Cpath id='XMLID_526_' d='M113.156,61.11v188.63c-6.257-2.212-12.985-3.428-20-3.428c-33.137,0-60,26.863-60,60s26.863,60,60,60 s60-26.863,60-60v-174.8l140-40V199.74c-6.257-2.212-12.985-3.428-20-3.428c-33.137,0-60,26.863-60,60s26.863,60,60,60 s60-26.863,60-60V0L113.156,61.11z'/%3E%3C/svg%3E%0A");
}

@keyframes floating-note {
  0% {
    opacity: 0;
    bottom: 0%;
    right: 0%;
  }
  10% {
    opacity: 1;
    bottom: 20%;
    right: 70%;
  }
  20% {
    bottom: 40%;
    right: 10%;
  }
  30% {
    bottom: 60%;
    right: 50%;
  }
  40% {
    opacity: 1;
    bottom: 80%;
    right: 5%;
  }
  48% {
    opacity: 0;
    bottom: 100%;
    right: 60%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    right: 90%;
  }
};

