.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wavepicker {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  align-items: baseline;
  width: 360px;
}

.wave-container {
  display: flex;
  justify-content: center;
}

.wavebox {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
}

.wavebox-selected {
  border: 2px solid blueviolet;
}

.wave {
  width: 24px;
  height: 24px;
}

.volume-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  align-items: baseline;
  width: 360px;
}

.volume-title {
  margin: 2px;
}

.volume-input {
  margin: 2px; 
}

.adsr-controls {
  border: 2px solid black;
  width: 360px; 
}

.adsr-header {
  margin: 0px;
}